<!-- <ul class="list-group">
  <li *ngFor="let category of categories" class="list-group-item">{{category.categoryName}}</li>
  
</ul> -->

<ul class="list-group">
  <li  *ngFor="let category of categories" class="list-group-item">{{category.categoryName}}</li>


</ul>

<!-- asagıda setcurrent satırının altına *** routerLink="/product/category/1" *** yaz

-->
<!-- <ul class="list-group">
  <li (click)="setCurrentCategory(category)"  *ngFor="let category of categories" [class]="getCurrentCategory(category) ">{{category.categoryId}}</li>

 
</ul> -->

<!-- <h5 *ngIf="currentCategory">{{currentCAtegory.categoryName}} seçtiniz</h5> -->